
<!DOCTYPE html>
<html lang="en">
{{template "views/partials/head" .}}

<body class="bg-gray-900 text-gray-200">
<div class="flex flex-col min-h-screen">

    {{template "views/partials/navbar" .}}

    <div class="lg:flex lg:gap-3 px-4 pt-12 mx-auto mb-auto">

      <div class="lg:hidden">
        <div class="grid grid-flow-col auto-cols-min justify-center gap-6">
          <a id="sidebar-auth" href="javascript:select('auth')" class="flex text-white px-3 py-2 rounded"><i class="text-base fa-solid fa-key pr-2"></i> Authorization </a>
          <a id="sidebar-payment" href="javascript:select('payment')" class="flex text-gray-400 hover:text-white px-3 py-2 rounded"><i class="text-base fa-solid fa-money-bill pr-2"></i> Payment </a>
        </div>
        <hr class="my-2 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-25 dark:via-neutral-400" />
      </div>

      <div class="hidden lg:flex">
        <div class="flex flex-col gap-3 pr-2">
          <a id="sidebar-auth" href="javascript:select('auth')" class="flex text-white px-3 py-2 rounded"><i class="text-base fa-solid fa-key pr-2"></i> Authorization </a>
          <a id="sidebar-payment" href="javascript:select('payment')" class="flex text-gray-400 hover:text-white px-3 py-2 rounded"><i class="text-base fa-solid fa-money-bill pr-2"></i> Payment </a>
        </div>
        <div class="w-px mx-2 self-stretch bg-gradient-to-tr from-transparent via-neutral-500 to-transparent opacity-25 dark:via-neutral-400"></div>
      </div>

      <div id="settings-auth" class="container mx-auto px-4 flex-grow">
          <div class="flex flex-col gap-4 py-4">
              <h2 class="text-2xl w-96">API token</h2>
              <div>
                <label for="username" class="block text-sm text-white mb-2">Token</label>
                <input type="text" id="token-text" class="text-xs border rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500" value="{{.Token}}" placeholder="Generate a token using button below" disabled readonly>
              </div>
              <button class="mr-auto bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded-lg" onclick="regenerateToken()">Regenerate token</button>
              <h2 class="text-2xl w-96 mt-6">Password</h2>
            <form class="space-y-4" action="/change_password" method="post">
              <div>
                <label for="old_password" class="block text-sm text-white mb-2">Old password</label>
                <input type="password" name="old_password" id="old_password" placeholder="••••••••" class="border rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500" required="">
              </div>
              <div>
                <label for="password" class="block text-sm text-white mb-2">New password</label>
                <input type="password" name="password" id="password" placeholder="••••••••" class="border rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500" required="">
              </div>
              <div>
                <label for="password_confirm" class="block text-sm text-white mb-2">Confirm password</label>
                <input type="password" name="password_confirm" id="password_confirm" placeholder="••••••••" class="border rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500" required="">
              </div>
              <button type="submit" class="mr-auto bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded-lg">Change password</button>
            </form>
          </div>
      </div>

      <div hidden id="settings-payment" class="container mx-auto px-4 flex-grow">
          <div class="flex flex-col gap-3 py-4">
            <h2 class="text-2xl w-96">Wallet</h2>
            <h2 class="text-2xl w-96 mt-6">Buy tokens</h2>
          </div>
      </div>
    </div>

    {{template "views/partials/footer" .}}
</body>

<script>
    var currentPage = "auth"
    select(window.location.hash.substring(1))

    async function regenerateToken() {
        await fetch("regenerate", {
            method: "GET",
            credentials: 'include',
        });
        const response = await fetch("me", {
          method: "GET",
          credentials: 'include',
        });
        const json = await response.json();
        const token = json.token
        document.getElementById('token-text').value = token
    }

    function select(page) {
      if (page == currentPage || !['auth', 'payment'].includes(page)) {
        return
      }
      switch(page) {
        case "auth":
          document.querySelectorAll('[id=sidebar-payment]').forEach(element => { 
            element.classList.remove('text-white')
            element.classList.add('text-gray-400')
            element.classList.add('hover:text-white')
          });
          document.querySelectorAll('[id=sidebar-auth]').forEach(element => { 
            element.classList.add('text-white')
            element.classList.remove('text-gray-400')
            element.classList.remove('hover:text-white')
          });
          window.location.hash = '#' + page
          document.getElementById('settings-auth').style.display = 'block'
          document.getElementById('settings-payment').style.display = 'none'
          break
        case "payment":
          document.querySelectorAll('[id=sidebar-auth]').forEach(element => {
            element.classList.remove('text-white')
            element.classList.add('text-gray-400')
            element.classList.add('hover:text-white')
          });
          document.querySelectorAll('[id=sidebar-payment]').forEach(element => {
            element.classList.add('text-white')
            element.classList.remove('text-gray-400')
            element.classList.remove('hover:text-white')
          });
          window.location.hash = '#' + page
          document.getElementById('settings-payment').style.display = 'block'
          document.getElementById('settings-auth').style.display = 'none'
          break
      }
      currentPage = page
    }
    
</script>

</html>
