<!DOCTYPE html>
<html lang="en">
{{template "views/partials/head" .}}
<script defer src="static/image.js"></script>

<body class="bg-gray-900 text-gray-200">
<p id="APIURLValue" hidden>{{ .APIURL }}</p>
<div class="flex flex-col min-h-screen">
   
    {{template "views/partials/navbar" .}}
    <div class="container mx-auto px-4 flex-grow">
      <div class="mt-12">
        <a data-dropdown-toggle="dropdownModelSelect" class="text-gray-400 hover:text-white px-3 py-2 rounded transition hover:cursor-pointer"><i class="fa-solid fa-comments pr-2"></i> <label id="dropdownModelsText" class="hover:cursor-pointer">{{ .Model }}</label> <i class="text-sm fa-solid fa-caret-down pl-1"></i></a>
        <div id="dropdownModelSelect" class="z-10 hidden bg-gray-800 border border-gray-700 shadow-lg rounded-lg">
            <div class="p-3 flex flex-col gap-3">
                {{ $model:=.Model}}
                {{ range .ModelsConfig }}
                {{ if not (eq . $model) }}
                <a href="text2image/{{.}}" class="block text-sm text-gray-400 transition hover:text-white rounded"> {{.}} </a>
                {{ end }}
                {{ end }}
            </div>
        </div>

        <div class="mt-6">
          <input id="image-model" type="hidden" value="{{.Model}}">
          <form id="genimage" action="text2image/{{.Model}}" method="get">
            <input
              type="text"
              id="input"
              name="input"
              placeholder="Prompt…"
              autocomplete="off"
              class="p-2 border border-gray-600 rounded-lg w-full bg-gray-700 text-white placeholder-gray-300"
              required
            />
          </form>
          <div class="container max-w-screen-lg mx-auto mt-4 pb-10 flex justify-center">
            <div id="loader" class="my-2 loader"  ></div>
          </div>
          <div class="container max-w-screen-lg mx-auto mt-4 pb-10 flex justify-center">
            <div id="result" class="mx-auto"></div>
          </div>
        </div>
      </div>
    </div>

    {{template "views/partials/footer" .}}
</div>
</body>
</html>
